- hosts: localhost
  connection: local
  become: yes
  gather_facts: yes

  vars:
    etcd_nodes: 
      - 10.0.10.11
      - 10.0.20.12
      - 10.0.30.13
    ssh_private_key_secret: "k8s-etcd-ssh-key-secret-id"
    ssh_private_key_path: "/home/ec2-user/.ssh/etcd.pem"
    target_user: "ec2-user"
    kube_admin_users:
      - "ssm-user"
    controlplane_endpoint_dns: "api.k8sprojectexample.click"
    controlplane_port: 6443
    kubernetes_version: "v1.34.2"

  roles:
    - role: common
    - role: etcd_certs
    - role: kubeadm_controlplane
    - role: kubeconfig_admin
